{% extends 'base.html.twig' %}


{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/assignOpe.css')}}">
<section class="home">
    <div class="text">
        {{ form_start(form, {'attr': {'class': 'operation-form'}}) }}
            <div class="form-group">
                {{ form_label(form.user, 'Select User', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-select'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">Assign User</button>
        {{ form_end(form) }}
    </div>
</section>    

{% endblock %}

