{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
 <section class="home">
    <div class="text">
    <h1>Operation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                {# <th>Facture</th>
                <th>Comment</th>
                <th>Note</th> #}
                <th>Date_debut</th>
                <th>Date_fin</th>
                {# <th>Image_resultat</th>
                <th>Reclamation</th>
                <th>Status_paiement</th> #}
                <th>Status_operation</th>
                {# <th>Address_intervention</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                {# <td>{{ operation.facture }}</td> #}
                {# <td>{{ operation.comment }}</td> #}
                {# <td>{{ operation.note }}</td> #}
                <td>{{ operation.dateDebut ? operation.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ operation.dateFin ? operation.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ operation.imageResultat }}</td> #}
                {# <td>{{ operation.reclamation }}</td> #}
                {# <td>{{ operation.statusPaiement ? 'Yes' : 'No' }}</td> #}
                <td>{{ operation.statusOperation ? 'Yes' : 'No' }}</td>
                {# <td>{{ operation.addressIntervention }}</td> #}
                <td>
                    <a href="{{ path('app_operation_show', {'id': operation.id}) }}">show</a>
                    <a href="{{ path('app_operation_edit', {'id': operation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_operation_new') }}">Create new</a> #}
</div>
</section>
{% endblock %}
