{% extends 'base.html.twig' %}

{% block title %}Créer un mot de passe{% endblock %}

{% block body %}
    <h1>Créer un mot de passe</h1>
    <form action="{{ path('create_password') }}" method="post">
        {{ form(form) }}
        <button type="submit">Créer mon mot de passe</button>
    </form>


    {{ form_start(form)}}
                {{ form_row(form.email)}}
                {{ form_row(form.password)}}
                {{ form_row(form.passwordConfirmation)}}
                <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form)}}
{% endblock %}