{% extends 'basebis.html.twig' %}

{% block title %}Créer un mot de passe{% endblock %}

{% block body %}
<div class="container">
 <div class="row">
    <h1>Créer un mot de passe</h1>
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_errors(form.email) }} {# Afficher les erreurs de validation pour le champ email #}
        {{ form_row(form.password) }}
        {{ form_errors(form.password) }} {# Afficher les erreurs de validation pour le champ password #}
        {{ form_row(form.password2) }}
        {{ form_errors(form.password2) }} {# Afficher les erreurs de validation pour le champ password2 #}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    {% else %}
        <p>Le formulaire n'a pas été correctement créé.</p>
    {% endif %}
 </div>
</div>
{% endblock %}