{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<form method="post">
    {# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

 <body>
  <div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <h1>Réinitialisation de mot de passe</h1>
            {{ form_start(passForm)}}
                {{ form_row(passForm.password)}}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(passForm)}}

        </div>
    </div>
  </div>
</body>
{% endblock %}