{% extends 'basebis.html.twig' %}

{% block body %}

	<link rel="stylesheet" href="{{asset('assets/css/servicesClient.css')}}">

	<section class="hero">
		<div class="banner">
			<img src="{{ asset('images/bannerService3.png') }}" style="width: 1955px; height: 750px;">
			<div class="banner-text">
				<h2>Découvrez nos services</h2>
				<p>Nous offrons des services de nettoyage professionnels pour votre maison ou votre entreprise.</p>
				<a href="#contact" class="btn">Demandez un Devis</a>
			</div>
		</div>
	</section>

    <!-- Section Nettoyage appartement et maison -->
<section class="cleaning-section">
  <div class="cleaning-info">
    <img src="{{ asset('images/service2.png') }}" alt="Nettoyage appartement" class="cleaning-image">
    <div class="cleaning-description">
      <h2>Nettoyage appartement et maison</h2>
      <p>Ce service comprend le nettoyage de base des espaces résidentiels ou commerciaux. Il inclut le balayage, le lavage des sols, le dépoussiérage des surfaces, le nettoyage des salles de bains et des cuisines, ainsi que la vidange des poubelles. Il est idéal pour les petites maisons, les appartements ou les bureaux de petite taille.</p>
      <button type="button" class="btn-info">Demander un devis</button>
    </div>
  </div>
</section>

<!-- Section Nettoyage de vos locaux administratif -->
<section class="cleaning-section">
  <div class="cleaning-info reverse">
    <img src="{{ asset('images/service1.png') }}" alt="Nettoyage locaux administratif" class="cleaning-image">
    <div class="cleaning-description2">
      <h2>Nettoyage de vos locaux administratif</h2>
      <p>Ce service offre une gamme plus étendue de nettoyage, adaptée aux besoins plus spécifiques des clients. En plus des tâches de nettoyage de base, il comprend le nettoyage des vitres, le nettoyage des tapis et des moquettes, le dépoussiérage en profondeur des meubles, ainsi que le nettoyage des appareils électroménagers. Il convient aux résidences plus grandes, aux bureaux de taille moyenne et aux espaces commerciaux haut de gamme.</p>
      <button type="button" class="btn-info">Demander un devis</button>
    </div>
  </div>
</section>

<section class="cleaning-section">
  <div class="cleaning-info">
    <img src="{{ asset('images/service3.png') }}" alt="Nettoyage appartement" class="cleaning-image">
    <div class="cleaning-description3">
      <h2>Nettoyage après travaux</h2>
      <p>Après des travaux de construction ou de rénovation, il est courant de se retrouver avec des débris, de la poussière, des résidus de peinture et d'autres débris qui peuvent rendre l'espace inhabitable. Notre équipe de nettoyage spécialisée est formée pour traiter ces situations et laisser votre espace propre, frais et prêt à être utilisé.

Que ce soit pour une petite rénovation ou un projet de construction plus important, notre équipe est équipée pour gérer toutes les situations et laisser votre espace aussi propre que neuf.</p>
      <button type="button" class="btn-info">Demander un devis</button>
    </div>
  </div>
</section>

<section class="container">
  <div class="prefooter">
  <h2> Pourquoi faire appel à nous ? </h2>
  <p> Faire appel à notre entreprise de nettoyage est bien plus qu'un simple choix, c'est une décision stratégique pour garantir un environnement propre, sain et accueillant pour votre domicile ou votre entreprise. </p>
  <p> En choisissant Clean This, vous choisissez l'excellence, la fiabilité et la tranquillité d'esprit. Faites le bon choix pour votre domicile ou votre entreprise, et laissez-nous vous aider à maintenir un environnement propre et sain pour vous et vos proches. </p>
  </div>

</section>
{% endblock %}
