{% block body %}
	<section class="home1">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h2 class="text-center">Demande de devis</h2>
							<p>Faites votre demande de devis qui sera analysée par notre équipe pour qu’elle puisse revenir vers vous et convenir d’un rendez-vous !</p>
						</div>
						<div class="card-body">
							{{ form_start(form) }}
							<div class="row">
								<div class="col-md-6">
									{{ form_row(form.lastname) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.firstname) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									{{ form_row(form.mail) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.tel) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									{{ form_row(form.adresse_intervention) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.Type_Operation) }}
									<button type="button" class="btn btn-primary add-operation">Ajouter</button>
								</div>
							</div>
							<div>
							{{ form_row(form.image_object, {'attr': {'class': 'hidden'}}) }}
							</div>

							{{ form_row(form.comment) }}
							{# {{ form_row(form.status) }} #}

							<button class="btn">Envoi devis</button>
							{{ form_end(form) }}
							<a href="{{ path('app_devis_index') }}">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addButton = document.querySelector('.add-operation');
        const typeOperationField = document.getElementById('{{ form.Type_Operation.vars.id }}');
        const imageObjectField = document.getElementById('{{ form.image_object.vars.id }}');

        // Cacher le champ image_object par défaut
        imageObjectField.closest('div').style.display = 'none';
        let customServiceSelected = false;

        addButton.addEventListener('click', function () {
            const operationLabel = typeOperationField.options[typeOperationField.selectedIndex].text; // Récupération du libellé du champ Type_Operation
            const operationValue = typeOperationField.value; // Récupération de la valeur sélectionnée du champ Type_Operation

            console.log("Selected option label:", operationLabel);
            console.log("Selected option value:", operationValue);

            const newField = document.createElement('div');
            newField.classList.add('operation-field');
            newField.textContent = operationLabel; // Utilisation du libellé au lieu de l'identifiant

            const deleteButton = document.createElement('span');
            deleteButton.textContent = '❌';
            deleteButton.classList.add('delete-operation');
            deleteButton.addEventListener('click', function () {
                newField.parentNode.removeChild(newField);
                if (operationValue === '14') {
                    customServiceSelected = false;
                    imageObjectField.closest('div').style.display = 'none';
                }
            });

            newField.appendChild(deleteButton);

            const row = document.createElement('div');
            row.classList.add('row');
            const col = document.createElement('div');
            col.classList.add('col-md-6');
            col.appendChild(newField);

            row.appendChild(col);
            typeOperationField.parentNode.parentNode.parentNode.insertBefore(row, typeOperationField.parentNode.parentNode.nextSibling);

            // Vérifier si la valeur est égale à '10' (ou 'Service Custom') et afficher le champ image_object en conséquence
            if (operationValue === '14' || customServiceSelected) {
                imageObjectField.closest('div').style.display = 'block';
                customServiceSelected = true;
            } else {
                // Si la valeur n'est pas égale à 10, masquer le champ image_object
                imageObjectField.closest('div').style.display = 'none';
            }
        });
    });
</script>


{% endblock %}
