{% block body %}
	<section class="home1">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h2 class="text-center">Demande de devis</h2>
							<p>Faites votre demande de devis qui sera analysée par notre équipe pour qu’elle puisse revenir vers vous et convenir d’un rendez-vous !</p>
						</div>
						<div class="card-body">
							{{ form_start(form) }}
							<div class="row">
								<div class="col-md-6">
									{{ form_row(form.lastname) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.firstname) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									{{ form_row(form.mail) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.tel) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									{{ form_row(form.adresse_intervention) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.Type_Operation) }}
								</div>
							</div>
							<div>
							{{ form_row(form.image_object, {'attr': {'class': 'hidden'}}) }}
							</div>

							{{ form_row(form.comment) }}
							{# {{ form_row(form.status) }} #}

							<button class="btn">Envoi devis</button>
							{{ form_end(form) }}
							<a href="{{ path('app_devis_index') }}">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const typeOperationField = document.getElementById('typeOperation');
    const imageObjectField = document.getElementById('imageObject');

imageObjectField.closest('.form-group').style.display = 'none';

// Ajouter un écouteur d'événement de changement pour détecter lorsque la valeur du champ "Type_Operation" change
typeOperationField.addEventListener('change', function () {
    // Récupérer le libellé sélectionné dans le champ "Type_Operation"
    const selectedLabel = typeOperationField.options[typeOperationField.selectedIndex].text;

    // Vérifier si le libellé est égal à "Service Custom"
    if (selectedLabel === 'Service Custom') {
        // Afficher l'imageObject
        imageObjectField.closest('.form-group').style.display = 'block';
    } else {
        // Sinon, masquer l'imageObject
        imageObjectField.closest('.form-group').style.display = 'none';
    }
});

// Vérifier la valeur initiale du champ Type_Operation au chargement de la page
const initialLabel = typeOperationField.options[typeOperationField.selectedIndex].text;
if (initialLabel === 'Service Custom') {
    imageObjectField.closest('.form-group').style.display = 'block';
}

});

</script>

{% endblock %}
