{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}
{% block stylesheets %} 
    {{ parent() }} {# Inclut les feuilles de style du fichier parent #}
    {# <link rel="stylesheet" href="{{ asset('public/assets/css/style.css') }}"> #}
{% endblock %}

{% block body %}
<section class='home'>
<div class='text'>
    <h1>Create new Devis</h1>

    {{ include('devis/_form.html.twig') }}

    <a href="{{ path('app_devis_index') }}">back to list</a>
    <script src="{{ asset('assets/js/autocompleteDevis.js') }}"> defer</script>
</div>
</section>    
{% endblock %}

