{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block stylesheets %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
{% endblock %}

{% block body %}
  <section class="home">
    <div class="text">
   
    <h1>Nos clients</h1>

 {# <a class= "createClient" href="{{ path('app_customer_new') }}">Créer un client</a> #}
    <table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="id" class="light-weight">Id</th>
                <th data-sortable="true" data-field="email" class="light-weight">Email</th>
                <th data-sortable="true" data-field="lastname" class="light-weight">Lastname</th>
                <th data-sortable="true" data-field="firstname" class="light-weight">Firstname</th>
                <th class="light-weight">Tel</th>
                <th data-sortable="true" data-field="address" class="light-weight">Address</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.address }}</td>
                <td>
                   <a href="{{ path('app_user_show', {'id': user.id}) }}" class ="actionsButtons1">Voir détail</a>
                   <a href="{{ path('app_user_edit', {'id': user.id}) }}" class ="actionsButtons2">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       </div>
  </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table-fr-FR.min.js"></script>
    <script>
        $(document).ready(function() {

    $('.search input').attr('placeholder', 'Rechercher');
    $('.search input').addClass('form-control pr-5');
    $('.search').addClass('position-relative');

    $('.search input').after('<span id="searchIcon" class="input-group-text bi bi-search position-absolute" style="right: 10px; top: 28%; transform: translateY(-50%); cursor: pointer; border: none; padding: 0;"></span>');
    $('.search input').keydown(function(event) {
        if (event.keyCode === 13) { 
            $('#searchIcon').hide();
        }
    });
});

    </script>
{% endblock %}
