{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section>
		<div class="container" style="padding-top: 300px; padding-left: 50px">
			<div>
				<!-- /Breadcrumb -->

				<div class="row gutters-sm">
					<div class="col-md-4 mb-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex flex-column align-items-center text-center">
									<h4>{{app.user.lastname}}
										{{app.user.firstname}}</h4>
									<img src="{{ app.user.avatar}}" alt="" class="rounded-circle" width="150">
									<div class="mt-3">
										<p class="text-secondary mb-1">Employé depuis le :</p>
										<p class="text-muted font-size-sm">{{ app.user.createdAt ? app.user.createdAt|date('d-m-Y') : '' }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card mb-3">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Nom</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										{{app.user.lastname}}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Prenom</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										{{app.user.firstname}}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Email</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										{{app.user.email}}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Mobile</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										{{app.user.tel}}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Address</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										{{app.user.address}}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-12">
										<a style="padding: 3px; text-decoration: none; background-color: #372772; color: #F3F2F2" href="{{ path('app_user_edit_profil', {'id': app.user.id}) }}">Mettre à jour les infos</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
