<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{asset('assets/css/dashboard.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/admin.css')}}">
        <title>Dashboard</title>
    </head>

{% include "_partials/_sidebar.html.twig" %}

{% block body %}
<section class='home'>
	<div class='text'>
        <div class="chart-container">
           <canvas id="CA/service"></canvas>
        </div>
        <div class="chart-container">
           <canvas id="CA"></canvas>
        </div>
		<div class="chart-container">
            <canvas id="usersChart" aria-label="Chart" role="img"></canvas>
            </div> 
            <div id="users" data-user-names="{{ usersEmployee }}"></div>
            <div>
            <label for="user-select">Sélectionnez un utilisateur :</label>
            <select id="user-select">
                <option value="">Tous les utilisateurs</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.lastname }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ asset('js/dashboard.js') }}" defer></script>

<script>
    const ctx = document.getElementById('CA/service');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ chiffreAffairesParType|keys|json_encode|raw }},
            datasets: [{
                label: 'Chiffre d\'affaires par catégorie',
                data: [
                    {% for value in chiffreAffairesParType %}
                        {{ value }},
                    {% endfor %}
                ],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    const ctx1 = document.getElementById('CA');

    new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: {{ chiffreAffaire|keys|json_encode|raw }},
            datasets: [{
                label: 'Chiffre d\'affaire de l\'entreprise',
                data: [
                    'chiffreAffaire'
                ],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            let usersEmployee = JSON.parse(document.querySelector("#users").getAttribute('data-user-names'));
            let totalTarifs = JSON.parse('{{ totalTarifs|raw }}');

            let users = document.querySelector("#usersChart");
            let userGraph = new Chart(users, {
                type: 'bar',
                data: {
                    labels: usersEmployee,
                    datasets: [{
                        label: "Chiffre d'affaire pour chaque utilisateur",
                        data: Object.values(totalTarifs),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        let userSelect = document.getElementById("user-select");
        userSelect.addEventListener("change", function() {
            let selectedUserId = userSelect.value;
            // Mettez ici la logique pour mettre à jour le graphique en fonction de l'utilisateur sélectionné
        });
        });

</script>
<script src="{{ asset('js/script.js') }}" defer></script>
{% endblock %}