{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block stylesheets %} 
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
{% endblock %}

{% block body %}
   <section class="home">
    <div class="text">
  
    <h1>User index</h1>

    <table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="id">Id</th>
                <th data-sortable="true" data-field="email">Email</th>
                <th data-sortable="true" data-field="roles">Roles</th>
                {# <th data-sortable="true">Password</th>
                <th data-sortable="true">Google_id</th> #}
                <th>Avatar</th>
                <th data-sortable="true" data-field="lastname">Lastname</th>
                <th data-sortable="true" data-field="firstname">Firstname</th>
                <th>Tel</th>
                <th data-sortable="true" data-field="created_at">Created_at</th>
                <th data-sortable="true" data-field="address">Address</th>
                <th data-sortable="true" data-field="operation_finalisee">Operations_finalisee</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                <td>
                {% for role in user.roles %}
							{% if role == "ROLE_ADMIN" %}
								{% set name = "Administrateur" %}
								{% set color = "danger" %}
                            {% elseif  role == "ROLE_SENIOR"%}
                                {% set name = "Senior" %}
                                {% set color = "warning" %}
                            {% elseif  role == "ROLE_APPRENTI"%}
                                {% set name = "Apprenti" %}
                                {% set color = "primary" %}    
                                {% elseif  role == "ROLE_CLIENT"%}
                                {% set name = "Client" %}
                                {% set color = "secondary" %}       
							{% else %}
								{% set name = "Membre" %}
								{% set color = "success" %}
							{% endif %}
							<span class="badge bg-{{ color }}">{{ name }}</span>
						{% endfor %}
                </td>        
                {# <td>{{ user.password }}</td> #}
                {# <td>{{ user.googleId }}</td> #}
                <td><img src="{{ user.avatar}}" style="height: 50px; border-radius:6px; margin-left: 6px;"</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.operationsFinalisee }}</td>
                
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    <button class="btn btn-danger deleteBtn" id="delete{{ user.id }}" data-csrf-token="{{ csrf_token('delete' ~ user.id) }}">
							Remove
					</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>

      </div>
   </section> 
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table-fr-FR.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
$(document).ready(function() {
    $('.table').off('click', '.deleteBtn').on('click', '.deleteBtn', function(e) {
        e.preventDefault();
        var userId = this.id.replace('delete', '');
        var csrfToken = $(this).data('csrf-token');
        
        if (confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')) {
            $.ajax({
                url: '/admin/customer/' + userId,
                type: 'POST',
                data: {
                    '_token': csrfToken,
                },
                success: function(response) {
                    if (response.success) {
                        alert("Utilisateur supprimé avec succès");
                        $('#delete' + userId).closest('tr').remove();
                        
                    location.reload();
                       
                    } else {
                        alert("La suppression a échoué");
                    }
                },
                error: function() {
                    alert("Une erreur s'est produite");
                }
            });
        }
    });
});
	</script>

{% endblock %}
